@import 'colors';

html, body {
  overflow-x: hidden;
}

.globalImg {
  width: 100%;
  height: auto;
}

.text-night {
  color: $night;
}

.text-dark {
  color: $dark;
}

.text-light {
  color: $light;
}

.text-lighter {
  color: $lighter;
}

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

.bg-night {
  background-color: $white;
}

.bg-dark {
  background-color: $dark;
}

.bg-light {
  background-color: $light;
}

.bg-lighter {
  background-color: $lighter;
}

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.lift {
  -webkit-transition: box-shadow 0.25s ease, -webkit-transform 0.25s ease;
  transition: box-shadow 0.25s ease, -webkit-transform 0.25s ease;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  transition: box-shadow 0.25s ease, transform 0.25s ease,
    -webkit-transform 0.25s ease;

  &:hover,
  &:focus {
    box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1),
      0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
  }
}

.lift-lg:hover,
.lift-lg:focus {
  box-shadow: 0 2rem 5rem rgba(22, 28, 45, 0.1),
    0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.05) !important;
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

@media screen and (min-width: 768px) {
  .globalImg {
    width: 100%;
    height: 250px;
  }
}

.custom-paginate {
  display: flex;
  list-style: none;
  height: 40px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  width: fit-content;
  align-items: center;
  padding: 0;
  margin-top: 40px;
}

.actived {
  font-weight: bold;
  background-color: $night;
  pointer-events: none;
  color: $white;
}

.paginate {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
  margin: 5px;
}

.paginate-center {
  width: 35%;
  margin: 0 auto;

  .previous {
    margin: 0 auto;
  }

  .next {
    margin: 0 auto;
  }
}

a {
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.nav-link {
  color: white;


  &:hover {
    color: blue;
  }
}

.mask {
  cursor: pointer;
}

.carousel-control-prev-icon:after {
  content: '';
}

.carousel-control-next-icon:after {
  content: '';
}

.contact-card {
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.navbar-toggler-icon {
  display: flex !important;
  align-items: center !important;
}

.navbar-toggler-icon:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  pointer-events: none;
  content: '\f142';
  color: $dark;
}

.login-row {
  width: 100%;
  margin: 0 !important;

  img {
    max-height: 98vh;
  }
}

.dialog-demo .p-button {
  margin: 0 0.5rem 0 0;
  min-width: 10rem;
}

.dialog-demo p {
  margin: 0;
  line-height: 1.5;
}

.dialog-demo .p-dialog .p-button {
  min-width: 6rem;
  background-color: red;
}

.navbarcss {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
}
.hello {
  z-index: 1000;
  // position:relative;
}
.main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  top: 0px;
  position: relative;
  z-index: 1;
  object-fit: cover;
}
.mainVideo{
  
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  top: 0px;
  // position: relative;
  // z-index: 1;
}

.main2 {
  width: 100vw;
 height: 100vh;
  margin: 0px;
  padding: 0px;
  top: 0px;
  opacity: .98;
  // position: relative;
  // z-index: 1;
}
.content{
  position:absolute;
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.content2{
  // position:absolute;
  // font-size: .6rem;
  padding: 15px;
  margin-left: 20px;
  margin-top: 50px;
  // font-weight: 700;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  // background-color: gray;
 }

 .content3{
  position:absolute;
  font-size: .6rem;


  // font-weight: 700;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  // background-color: gray;
 }

 .content4{
  font-size: 1rem;
 }
 .content6{
  position:absolute;
 
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  padding-top: 10px ;
  // align-items: center;
  color: white;
}
.maint {
  width: 100%;
  height: 100vh;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  // justify-content: center;
  align-items: center;
  color: white;  
  z-index: 1;
}
.contenttt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  // justify-content: center;
  align-items: center;
  color: white;  
  z-index: 1;
}

.overlayt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(0,0,0,.4);
  /* background-color: #000000cc; */
}

 .border{
  border: #1f1209;
 }


.ptag{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}
.circle{
  background-color: primary;
  border-radius: 50%;
  padding: 5px;
  margin-right: 15px;
}
.iconSpot{
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // position:absolute;
  border:0px solid #ddd;
  height:50px;
  line-height:50px;

  overflow:hidden;
  display:inline-block;
}
.inner span{
  animation:animate 10s ease infinite;
  position:relative;
  color:white
}
@keyframes animate{
  0%,100%{
    top:0;
  }
  20%{
    top:0px;
  }  
  25%{
    top:-50px;
  }
  45%{
    top:-50px;
  }
  50%{
    top:-100px;
  }
  70%{
    top:-100px;
  }
  75%{
    top:-150px;
  }
  95%{
    top:-150px;
  }
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  }

  .bgimage{
    background-image: url('/public/images/gray.png');
    height: 100vh;
  }

div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: $dark;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.videoBg {
  // object-fit: cover;
  height: 150px;
  width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    top: 0px;



}
.videoBg2 {
  object-fit: cover;
  height: 150px;

}

.overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);

}
.maintext {
  font-family: 'neuzeit-grotesk', sans-serif;
  font-weight: 400;
  // line-height: 23px;
  font-size: 1.1em;
  // color: #58595b;
  // font-size: 13vw;
  font-family: 'neuzeit-grotesk', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  font-weight: 700;
  line-height: 1em;
  position: relative;
}
.maintext2 {
  font-family: 'neuzeit-grotesk', sans-serif;
  font-weight: 700;
  line-height: 23px;
  font-size: 45px;
  // color: #58595b;
  // font-size: 13vw;
  font-family: 'neuzeit-grotesk', sans-serif;
  // display: flex;
  padding-top: 200px;

  align-items: center;
  text-align: center;
 
  font-weight: 700;
  line-height: 1em;
}
.maintext2span{
  font-size: 17px;
}

@media screen and (max-width: 1024px) {
  .paginate-center {
    width: 35%;

    .previous {
      margin: 0 auto;
    }

    .next {
      margin: 0 auto;
    }
  }
}

.back {
  // background: rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  align-items: stretch;
  background-color: white;
  padding-bottom: 10px;
  z-index: 1;
}
.sticky2 {
  position: sticky;
  top: 60px;
  align-items: stretch;
  background-color: white;
  padding-bottom: 10px;
  z-index: 1;
}

.cursorpointer{
  cursor: pointer;
}

.mapButton {
  // position:absolute;
  position: fixed;
  left: 40%;
  top: 90%;
  z-index: 1;
  background-color: #dcebff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  color: rgba(0, 0, 255, 0.954);
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.cardPa {
  margin-top: 0px;
}

.fontSize {
  text-justify: auto;
}

hr {
  border: none;
  height: 20px;
  width: 100%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}

@media screen and (max-width: 768px) {
  .login-img {
    display: none;
  }

  .login-row {
    min-height: 80vh;
  }

  .paginate-center {
    width: 70%;

    .previous {
      margin: 0 auto;
    }

    .next {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 576px) {
  .paginate-center {
    width: 100%;

    .previous {
      margin: 0 auto;
    }

    .next {
      margin: 0 auto;
    }
  }
}

.map-content {
  display: flex;
  height: 580px;
}

.map {
  width: 100%;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.marker {
  border: none;
  cursor: pointer;
  height: 26px;
  width: 26px;
  background-image: url('/marker.png');
  background-size: cover;
  // background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
}

/* Marker tweaks */
.mapboxgl-popup {
  padding-bottom: 50px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}
